%article.span9= (booklet.content and !booklet.content.empty?) ? raw(booklet.format!) : t('views.interface.write_something')
:javascript
	$("a.colorbox").colorbox({rel:"box"});
%aside.span3
	- if editable?
		.btn-group.pull-right
			- if booklet.describable.instance_of? Agency
				= link_to edit_agency_booklet_url(booklet), :remote => true, :class => :btn, :disable_with => t('views.interface.opening') do
					%i.icon-pencil
					= t 'views.interface.edit'
				= link_to agency_booklet_url(booklet), :method => :delete, :confirm => t('views.interface.aus'), :disable_with => t('views.interface.removing'), :class => 'btn btn-danger' do
					%i.icon-white.icon-trash
					= t 'views.interface.remove'
			
					
			- if booklet.describable.instance_of? Estate
				= link_to edit_estate_booklet_url(booklet.describable, booklet), :remote => true, :class => :btn, :disable_with => t('views.interface.opening') do
					%i.icon-pencil
					= t 'views.interface.edit'
				= link_to estate_booklet_url(booklet.describable, booklet), :method => :delete, :confirm => t('views.interface.aus'), :disable_with => t('views.interface.removing'), :class => 'btn btn-danger' do
					%i.icon-white.icon-trash
					= t 'views.interface.remove'
				
	
	- booklet.tags.each do |tag|
		%h4
			%img{:src => "/assets/icons/features/#{tag.feature.title_translations['en'].parameterize}.png"}
			= tag.feature.title
		%p= tag.text