%fieldset.row-fluid
	%fieldset.span8<>
		%legend
			= t 'models.booklet.base'
			%a{href: "http://redcloth.org/hobix.com/textile/", :target => "_blank"}
				%i.icon-question-sign

		= bs_i18n_text_field f, :title, t('models.title'), :class => 'span11'
		= bs_i18n_text_area f, :content, t('models.booklet.content'), :class => 'span11', :rows => 20

		%fieldset.tags
			:javascript
				$('#edit_booklet_#{f.object.id} .tags').on('focus', '.autocomplete', function(event){
					if ($(this).autocomplete('widget').attr('id')) {
						$(this).autocomplete({
							source: #{Filling.where(:model => 'Tag', :field => 'text').map(&:text)}
						});
					};
				});
			
			%legend= t 'models.booklet.tag.tags'
			%br
			= f.fields_for :tags do |ff|
				.well
					= ff.link_to_remove :class => 'btn-danger btn btn-small pull-right' do
						%i.icon-minus.icon-white
					= bs_wrapper ff, :feature_id, t('models.booklet.tag.feature') do
						= ff.select :feature_id, options_from_collection_for_select(Feature.all, 'id', 'title', :selected => ff.object.feature_id), {}, :class => 'input-large'
					= bs_i18n_text_field ff, :text, t('models.booklet.tag.text'), :class => 'span10 autocomplete'
			= f.link_to_add :tags, :class => 'btn-success btn btn-small' do
				%i.icon-plus.icon-white
	
	%fieldset.span4<>
		%legend= t 'models.booklet.pictures'
		%br
		%p
			= file_field_tag :fileupload, :multiple => true
			%a.btn#collect{:href => "#"}
				%i.icon-refresh
			:javascript
				$(function() {
					$('#collect').click(function(event) {
						event.preventDefault();
						$('#collection').empty();
						$('#filepool .caption p').each(function(i) {
							$('#collection').html($('#collection').html() + $(this).html())
						});
					});
				});
			
		%p#collection
		%ul.thumbnails#filepool
			- f.object.images.each do |image|
				= render 'images/blob', :image => image, :selected => (f.object.avatar_id == image.id.to_s)

		:javascript
			$(function() {
				$('#fileupload').fileupload({
					dataType: 'json',
					url: '/images',
					paramName: 'image[]',
					formData: [
						{name: 'passing_data', value: "ok"}
					],
					done: function(e, data) {
						$.each(data.result,
						function(index, file) {
							$(file.html).appendTo('#filepool');
						});
					}
			    });
			});
		