- url = agency_booklets_url if booklet.describable.instance_of? Agency
- url = estate_booklets_url(booklet.describable) if booklet.describable.instance_of? Estate

- cancel_url = agency_url if booklet.describable.instance_of? Agency
- cancel_url = estate_url(booklet.describable) if booklet.describable.instance_of? Estate

= nested_form_for booklet, :url => url, :html => {:class => 'form-horizontal'} do |f|
	= render 'booklets/partials/fields', :f => f
	%fieldset.row-fluid
		.form-actions
			= f.button raw('<i class="icon-ok icon-white"></i> ' + t('views.interface.save')), :disable_with => t('views.interface.saving'), :type => :submit, :class => 'btn btn-primary'
			= link_to cancel_url, :class => 'btn', :disable_with => t('views.interface.canceling') do
				%i.icon-remove
				= t 'views.interface.cancel'
	