%fieldset.choices
	:javascript
		$('#edit_pricelist_#{f.object.id} .choices').on('focus', '.autocomplete', function(event){
			if ($(this).autocomplete('widget').attr('id')) {
				$(this).autocomplete({
					source: #{Filling.where(:model => 'Choice', :field => 'title').map(&:text)}
				});
			};
		});
	
	%legend= t('views.pricelist.menu')
	%br
	= f.fields_for :choices do |ff|
		.well
			= ff.link_to_remove :class => 'btn btn-danger btn-small pull-right' do
				%i.icon-minus.icon-white
			= bs_i18n_text_field ff, :title, t('models.title'), :class => 'span9 autocomplete'
			= bs_text_field ff, :price, t('models.pricelist.price.base'), :class => 'input-xlarge'

	= f.link_to_add :choices, :class => 'btn btn-success btn-small' do
		%i.icon-plus.icon-white
