- url = estate_pricelist_url(pricelist.estate)
= nested_form_for pricelist, :url => url, :remote => true, :html => {:class => 'form-horizontal'} do |f|
	= render 'estate_pricelist/partials/prices_fields', :f => f, :pricelist => pricelist
	%br
	%br
	= f.fields_for :comment_translations do |ff|
		.control-group
			= ff.label :en, (t('models.pricelist.comment') + ' (En)'), :class => 'control-label'
			.controls
				= ff.text_area :en, :class => 'span8', :rows => 5, :value => (f.object.comment_translations['en'] if f.object.comment_translations['en'])
		.control-group
			= ff.label :ru, (t('models.pricelist.comment') + ' (Ru)'), :class => 'control-label'
			.controls
				= ff.text_area :ru, :class => 'span8', :rows => 5, :value => (f.object.comment_translations['ru'] if f.object.comment_translations['ru'])
	%br
	%br
	= render 'estate_pricelist/partials/accommodations_fields', :f => f, :pricelist => pricelist
	%br
	%br
	= render 'estate_pricelist/partials/seasons_fields', :f => f, :pricelist => pricelist
	%br
	%br
	= render 'estate_pricelist/partials/leasespans_fields', :f => f, :pricelist => pricelist
	%br
	%br
	= render 'estate_pricelist/partials/choices_fields', :f => f, :pricelist => pricelist


	%fieldset
		.form-actions
			= f.button raw('<i class="icon-ok icon-white"></i> ' + t('views.interface.save')), 'data-disable-with' => t('views.interface.saving'), :type => :submit, :class => 'btn btn-primary'
			= link_to url, :class => 'btn', 'data-disable-with' => t('views.interface.canceling'), :remote => true do
				%i.icon-remove
				= t 'views.interface.cancel'
	