%fieldset
	%table.table
		- pricelist.accommodations.each do |accommodation|
			%thead
				%tr
					%th
						%br
						%h3
							= accommodation.title
							%small='(' + t('views.interface.lv_per_day') + ')'
					- pricelist.leasespans.order_by([[:from, :asc]]).each do |leasespan|
						%th
							%big
								= leasespan.from.to_s
								= '-'
								= leasespan.to.to_s
								= t 'views.pricelist.days'
			%tbody
				- pricelist.seasons.each do |season|
					%tr
						%td
							%h4= season.title
							- season.datesranges.each do |dr|
								%span
									= l(dr.start.to_date, :format => :long)
									= ' - '
									= l(dr.finish.to_date, :format => :long)
									%br
						- pricelist.leasespans.order_by([[:from, :asc]]).each do |leasespan|
							%td.price
								- price = pricelist.prices.find_or_create_by(leasespan_id: leasespan.id, season_id: season.id, accommodation_id: accommodation.id)
								= f.fields_for :prices, price do |ff|
									.input-append
										= ff.text_field :value,:class => 'input-mini'
										%span.add-on<> $
