%fieldset.seasons
	:javascript
		$('#edit_pricelist_#{f.object.id} .seasons').on('focus', '.autocomplete', function(event){
			if ($(this).autocomplete('widget').attr('id')) {
				$(this).autocomplete({
					source: #{Filling.where(:model => 'Season', :field => 'title').map(&:text)}
				});
			};
		});
	
	%legend= t 'models.pricelist.season.seasons'
	%br
	= f.fields_for :seasons do |ff|
		.well
			= ff.link_to_remove :class => 'btn btn-danger btn-small pull-right' do
				%i.icon-minus.icon-white
			= ff.fields_for :title_translations do |fff|
				.control-group
					= fff.label :en, (t('models.title') + ' (En)'), :class => 'control-label'
					.controls
						= fff.text_field :en, :class => 'span9 autocomplete', :value => (ff.object.title_translations['en'] unless ff.object.title.blank?)
				.control-group
					= fff.label :ru, (t('models.title') + ' (Ru)'), :class => 'control-label'
					.controls
						= fff.text_field :ru, :class => 'span9 autocomplete', :value => (ff.object.title_translations['ru'] unless ff.object.title.blank?)
			.control-group
				%big.control-label= t('models.pricelist.season.datesranges')
			= ff.fields_for :datesranges do |fff|
				.control-group
					= fff.label :start, t('models.pricelist.season.start'), :class => 'control-label'
					.controls
						= fff.date_select :start, {:use_month_numbers => false, :order => [:day, :month, :year]}, :class => 'input-small'
						= raw('&nbsp &nbsp &nbsp')
						= fff.label :finish, t('models.pricelist.season.finish'), :class => 'help-inline'
						= raw('&nbsp')
						= fff.date_select :finish, {:use_month_numbers => false, :order => [:day, :month, :year]}, :class => 'input-small'
						= raw('&nbsp &nbsp')
						= fff.link_to_remove :class => 'btn btn-danger btn-small' do
							%i.icon-minus.icon-white
			= ff.link_to_add :datesranges, :class => 'btn btn-success btn-small' do
				%i.icon-plus.icon-white
	= f.link_to_add :seasons, :class => 'btn btn-success btn-small' do
		%i.icon-plus.icon-white
