%p.pull-left
	%a.thumbnail.thumb{:href => '#'}
		- if !agency.booklets.empty? and agency.booklets[0].avatar_id
			%img.thumb{:src => agency.booklets[0].avatar.image.thumb.url}
		- else
			%img.thumb{:src => '/assets/dummy/estate.thumb.jpg'}
%section
	.btn-group.pull-right
		- if editable?
			= link_to edit_agency_url, :remote => true, :class => :btn, 'data-disable-with' => t('views.interface.opening') do
				%i.icon-pencil
				= t 'views.interface.edit'
	.page-header
		%h1
			- if Pathname.new(File.join(Rails.root, "app/assets/images/logo/#{current_agency.subdomain}.png")).exist?
				%img{:src => "/assets/logo/#{current_agency.subdomain}.png"}
			- else
				= current_agency.title
	%p
		%big= agency.teaser
	- Contact.kinds.each do |kind|
		- if agency.contacts.where(:kind => kind).exists?
			%ul
				- agency.contacts.where(:kind => kind).each do |contact|
					%li
						%a.iconed{:style => "background-image: url(/assets/icons/#{kind.downcase}.png);", :href => contact.href, :class => kind.downcase}= contact.text
	%p
		= plus_one_button(request.url)
		= like_button(request.url)