%p.pull-left
	%a.thumb.thumbnail{:href => estate_url(estate)}
		- if !estate.booklets.empty? and estate.booklets[0].avatar_id
			%img.thumb{:src => estate.booklets[0].avatar.image.thumb.url}
		- else
			%img.thumb{:src => '/assets/dummy/estate.thumb.jpg'}
%section
	.btn-group.pull-right
		- if editable?
			= link_to edit_estate_url(estate), :remote => true, :class => :btn, :disable_with => t('views.interface.opening') do
				%i.icon-pencil
				= t 'views.interface.edit'
			= link_to estate_url(estate), :method => :delete, :confirm => t('views.interface.aus'), :disable_with => t('views.interface.removing'), :class => 'btn btn-danger' do
				%i.icon-white.icon-trash
				= t 'views.interface.remove'
		- else
			= link_to new_estate_booking_url(estate), :disable_with => t('views.interface.opening'), :class => 'btn btn-success btn-large' do
				%i.icon-shopping-cart.icon-white
				= t 'views.booking.book'
	.page-header
		%h1
			= estate.title
			%small= estate.district.title
	.row-fluid			
		.span7
			%big= estate.teaser
			%p
				= plus_one_button(request.url)
				= like_button(request.url)
		- if estate.pricelist.prices.exists?
			.span5
				%table.table.table-bordered.table-condensed
					%thead
						%tr
							%td
								%big= link_to (t('models.pricelist.price.base') + ' ' + t('views.interface.lv_per_day')), estate_pricelist_url(estate)
					%tbody
					- estate.pricelist.accommodations.each do |accommodation|
						%tr
							%td= accommodation.title
							- if accommodation.min_price == accommodation.max_price
								%td= accommodation.min_price.to_s + '$'
							- else
								%td= accommodation.min_price.to_s + '$ - ' + accommodation.max_price.to_s + '$'
