- marker_url = marker(("A".."ZZ").to_a[index], '55bfe6')

.estate{:id => estate.id.to_s}<>
	:javascript
		$(function(){
			var marker = new google.maps.Marker({
				position: new google.maps.LatLng(#{estate.map.location[:lat]},#{estate.map.location[:lng]}),
				map: map,
				icon: '#{marker_url}'
			});

			markers.push(marker);

			$('##{estate.id.to_s} a.marker').click(function(event){
				event.preventDefault();
				marker.setAnimation(google.maps.Animation.DROP);
				map.setCenter(marker.getPosition());
			});

			google.maps.event.addListener(marker, 'click', function() {
				$('#estates .grid').animate({
					scrollTop: ($('##{estate.id.to_s}').position().top - $('#estates .estate:first-of-type').position().top)
				}, 'slow');
			});
		});
	
	.row-fluid
		.span8
			= link_to estate_url(estate), :target => '_blank', :class => "thumb thumbnail pull-left" do
				- if !estate.booklets.empty? and estate.booklets[0].avatar_id
					%img.nano{:src => estate.booklets[0].avatar.image.nano.url}
				- else
					%img.nano{:src => '/assets/dummy/estate.nano.jpg'}
			%h2
				= link_to estate_url(estate), :target => '_blank' do
					= estate.title
					%small= estate.district.title
				%a.marker.pull-right{:href => '#'}
					%img.marker{:src => marker_url}
			%p= estate.teaser						
		.span4
			%table.table.table-bordered.table-condensed
				%thead
					%tr
						%td
							- if q and selected_days > 0
								%big
									= t 'models.pricelist.price.base'
									= t('counters.days', :count => selected_days)
								%br
								= t 'views.estate.from'
								%i= l(checkin, :format => :long)
								= t 'views.estate.to'
								%i= l(checkout, :format => :long)
							- else
								%big
									= t 'models.pricelist.price.base'
									= t 'views.interface.lv_per_day'
				%tbody
					- estate.pricelist.accommodations.where({:bedrooms => {'$gte' => beds_from, '$lte' => beds_to}}).each do |accommodation|
						- pricing = estate.pricings.where(:checkin => checkin.to_time.utc, :checkout => checkout.to_time.utc, :accommodation_id => accommodation.id.to_s).first
						%tr
							%td
								= accommodation.title
							- if (selected_days >= 1)
								%td= pricing.total.to_s + '$'
							- else
								%td= accommodation.min_price.to_s + '$ - ' + accommodation.max_price.to_s + ' $'
	%hr