- marker_url = marker(("A".."ZZ").to_a[index])

.estate{:id => estate.id.to_s}
	:javascript
		$(function(){
			var marker = new google.maps.Marker({
				position: new google.maps.LatLng(#{estate.map.location[:lat]},#{estate.map.location[:lng]}),
				map: map,
				icon: '#{marker_url}'
			});
			
			markers.push(marker);
			
			function roll_it(){
				$('#estates .selected').removeClass('selected');
				$('##{estate.id.to_s}').addClass('selected');
				infowindow.setContent($('##{estate.id.to_s} .infowindow').html());
				infowindow.open(map, marker);
			}
			
			$('##{estate.id.to_s} a').click(function(event){
				event.preventDefault();
				roll_it();
			});
			
			google.maps.event.addListener(marker, 'click', function() {
				roll_it();
				$('#estates .grid').animate({
					scrollTop: ($('##{estate.id.to_s}').position().top - $('#estates .estate:first-of-type').position().top)
				}, 'slow');
			});
		});
	
	%a{:href => estate_url(estate)}
		%img.marker.pull-left{:src => marker_url}
		%h4
			= estate.title
			%small
				%big
					- if (selected_days >= 1)
						= '(' + t('counters.days', :count => selected_days) + ')'
					- else
						= '(' + t('views.interface.lv_per_day') + ')'
			%br
		%table
			- estate.pricelist.accommodations.where({:bedrooms => {'$gte' => beds_from, '$lte' => beds_to}}).each do |accommodation|
				- pricing = estate.pricings.where(:checkin => checkin.to_time.utc, :checkout => checkout.to_time.utc, :accommodation_id => accommodation.id.to_s).first
				%tr
					%td= t('counters.bedrooms', :count => accommodation.bedrooms)
					%td= raw('&nbsp—&nbsp')
					- if (selected_days >= 1)
						%td= pricing.total.to_s + '$'
					- else
						%td
							= accommodation.min_price.to_s + '$'
							= '-'
							= accommodation.max_price.to_s + '$'			
	.clearfix
	.hidden.infowindow
		%ul.thumbnails
			%li.span3
				%a.thumbnail{:href => estate_url(estate), :target => '_blank'}
					- if !estate.booklets.empty? and estate.booklets[0].avatar_id
						%img.medium{:src => estate.booklets[0].avatar.image.medium.url}
					- else
						%img.medium{:src => '/assets/dummy/estate.medium.jpg'}
			%li.span5
				%h2
					= estate.title
					%small= estate.district.title
				%table.table.table-bordered.table-condensed
					%thead
						%tr
							%td
								- if q and selected_days > 0
									%big
										= t 'models.pricelist.price.base'
										= t('counters.days', :count => selected_days)
									%br
									= t 'views.estate.from'
									%i= l(checkin, :format => :long)
									= t 'views.estate.to'
									%i= l(checkout, :format => :long)
								- else
									%big
										= t 'models.pricelist.price.base'
										= t 'views.interface.lv_per_day'
					%tbody
						- estate.pricelist.accommodations.where({:bedrooms => {'$gte' => beds_from, '$lte' => beds_to}}).each do |accommodation|
							- pricing = estate.pricings.where(:checkin => checkin.to_time.utc, :checkout => checkout.to_time.utc, :accommodation_id => accommodation.id.to_s).first
							%tr
								%td
									= accommodation.title
								- if (selected_days >= 1)
									%td= pricing.total.to_s + '$'
								- else
									%td= accommodation.min_price.to_s + '$ - ' + accommodation.max_price.to_s + ' $'
			%li.span8
				%big= estate.teaser						
		.clearfix
			= link_to t('views.interface.open'), estate_url(estate), :target => '_blank', :class => 'btn btn-primary btn-large pull-right'