- slim_marker_url = marker(("A".."ZZ").to_a[index], '55bfe6', 0.7, 330)
- fat_marker_url = marker(("A".."ZZ").to_a[index], 'ee7777', 0.7, 330)

.estate{:id => estate.id.to_s}<>
	:javascript
		$(function(){
			var slim_icon = new google.maps.MarkerImage('#{slim_marker_url}',
							new google.maps.Size(47, 54),
							new google.maps.Point(0, 0),
							new google.maps.Point(0, 54))
									
			var fat_icon =	new google.maps.MarkerImage('#{fat_marker_url}',
							new google.maps.Size(47, 54),
							new google.maps.Point(0, 0),
							new google.maps.Point(0, 54))
									
			var marker = new google.maps.Marker({
				position: new google.maps.LatLng(#{estate.map.location[:lat]},#{estate.map.location[:lng]}),
				map: map,
				icon: slim_icon,
				zIndex: 1});
			
			var link_marker = $('##{estate.id.to_s} a.marker');
			
			function light(state) {
				marker.setZIndex(state ? 2 : 1);
				marker.setIcon(state ? fat_icon : slim_icon);
				link_marker.children(state ? '.slim' : '.fat').hide()
				link_marker.children(state ? '.fat' : '.slim').show()
			}
			
			markers.push(marker);
			
			$('##{estate.id.to_s} a.marker').hover(function(){light(true)}, function(){light(false)});
			google.maps.event.addListener(marker, 'mouseover', function() {light(true)});
			google.maps.event.addListener(marker, 'mouseout', function() {light(false)});
						
			link_marker.click(function(event){
				event.preventDefault();
				marker.setAnimation(google.maps.Animation.DROP);
				map.setCenter(marker.getPosition());
				map.setZoom(#{estate.map.zoom});
			});

			google.maps.event.addListener(marker, 'click', function() {
				$('html, body').animate({scrollTop: $('##{estate.id.to_s}').position().top}, 'slow');
			});
			

		});
	
	.row-fluid
		.span7
			= link_to estate_url(estate), :target => '_blank', :class => "thumb thumbnail pull-left" do
				- if !estate.booklets.empty? and estate.booklets[0].avatar_id
					%img.nano{:src => estate.booklets[0].avatar.image.nano.url}
				- else
					%img.nano{:src => '/assets/dummy/estate.nano.jpg'}
			%h3
				= link_to estate_url(estate), :target => '_blank' do
					= raw('&nbsp ') + estate.title
					%small
						- if estate.hidden
							%i.icon-eye-close					
						= estate.district.title
			%p= estate.teaser						
		%a.marker.pull-right{:href => '#'}
			%img.slim{:src => slim_marker_url}
			%img.fat{:src => fat_marker_url}
		.span5
			%table.table.table-bordered.table-condensed
				%thead
					%tr
						%td
							- if q and selected_days > 0
								= t 'models.pricelist.price.base'
								= t('counters.days', :count => selected_days)
								%br
								= t 'views.estate.from'
								%i= l(checkin, :format => :long)
								= t 'views.estate.to'
								%i= l(checkout, :format => :long)
							- else
								= t 'models.pricelist.price.base'
								= t 'views.interface.lv_per_day'
				%tbody
					- estate.pricelist.accommodations.where({:bedrooms => {'$gte' => beds_from, '$lte' => beds_to}}).each do |accommodation|
						- pricing = estate.pricings.where(:checkin => checkin.to_time.utc, :checkout => checkout.to_time.utc, :accommodation_id => accommodation.id.to_s).first
						%tr
							%td
								= accommodation.title
							- if (selected_days >= 1)
								%td= pricing.total.to_s + '$'
							- else
								- if accommodation.min_price == accommodation.max_price
									%td= accommodation.min_price.to_s + '$'
								- else
									%td= accommodation.min_price.to_s + '$ - ' + accommodation.max_price.to_s + '$'
	%hr