%fieldset
	%legend= t 'views.estate.information'
	= f.fields_for :title_translations do |ff|
		.control-group
			= ff.label :en, (t('models.title') + ' (En)'), :class => 'control-label'
			.controls
				= ff.text_field :en, :class => 'input-xlarge', :value => (f.object.title_translations['en'] unless f.object.new?)
		.control-group
			= ff.label :ru, (t('models.title') + ' (Ru)'), :class => 'control-label'
			.controls
				= ff.text_field :ru, :class => 'input-xlarge', :value => (f.object.title_translations['ru'] unless f.object.new?)
	.control-group
		= f.label :slug, t('models.estate.slug'), :class => 'control-label'
		.controls
			= f.text_field :slug, :class => 'input-xlarge', :disabled => !f.object.new?
	= f.fields_for :teaser_translations do |ff|
		.control-group
			= ff.label :en, (t('models.teaser') + ' (En)'), :class => 'control-label'
			.controls
				= ff.text_area :en, :class => 'input-xlarge', :rows => 5, :value => (f.object.teaser_translations['en'] unless f.object.new?)
		.control-group
			= ff.label :ru, (t('models.teaser') + ' (Ru)'), :class => 'control-label'
			.controls
				= ff.text_area :ru, :class => 'input-xlarge', :rows => 5, :value => (f.object.teaser_translations['ru'] unless f.object.new?)
	.control-group
		= f.label :bedrooms, t('models.estate.bedrooms'), :class => 'control-label'
		.controls
			= f.select :bedrooms, options_for_select(1..16, f.object.bedrooms), {}, :class => 'input-mini'
	.control-group
		= f.label :adults_max, t('models.estate.adults_max'), :class => 'control-label'
		.controls
			= f.select :adults_max, options_for_select(1..32, f.object.adults_max), {}, :class => 'input-mini'
	.control-group
		= f.label :childs_max, t('models.estate.childs_max'), :class => 'control-label'
		.controls
			= f.select :childs_max, options_for_select(1..32, f.object.childs_max), {}, :class => 'input-mini'