%fieldset
	%legend= t 'views.estate.information'
	
	= bs_i18n_text_field f, :title, t('models.title'), :class => 'span8'
	= bs_i18n_text_area f, :teaser, t('models.teaser'), :rows => '2', :class => 'span8'
	
	= bs_wrapper f, :district_id, t('models.district.base') do
		= f.select :district_id, options_from_collection_for_select(District.all, 'id', 'title', f.object.district_id), {:include_blank => true}, :class => 'input-xlarge'
		
	= bs_wrapper f, :hidden, t('models.estate.hidden') do
		%label.checkbox
			= f.check_box :hidden

%fieldset
	%legend= t 'views.estate.privat'
	= bs_text_field f, :comission, t('models.estate.comission'), :class => 'input-xlarge'
	= bs_text_field f, :margin, t('models.estate.margin'), :class => 'input-xlarge'
	= bs_text_area f, :comment, t('models.estate.comment'), :class => 'input-xlarge', :rows => 5
	
	.control-group
		%label.control-label= t 'models.agency.contacts'
		.controls
			= f.fields_for :contacts do |ff|
				= ff.select :kind, options_for_select(Contact.kinds, :selected => ff.object.kind), {}, :class => 'input-small'
				= raw('&nbsp')
				= ff.text_field :entry, :class => 'input-xlarge'
				= raw('&nbsp')
				= ff.link_to_remove :class => 'btn-danger btn btn-small' do
					%i.icon-minus.icon-white
				%br
				%br
			= f.link_to_add :contacts, :class => 'btn-success btn btn-small' do
				%i.icon-plus.icon-white