%h3 Спасибо за Ваш заказ.
%p В настоящее время Ваш заказ обрабатывается. Менеджер нашей компании свяжется с вами в
ближайшее время.
%h4 Детали
%ul
	%li
		Клиент:
		= @booking.addressing
		= "(#{@booking.email})"
	- unless @booking.message.empty?
		%li
			Сообщение:
			= @booking.message
	%li
		Объект:
		%a{href: "http://#{@booking.agency.host}/estates/#{@booking.estate.id}"}= @booking.estate.title
	%li
		Дата заказа:
		= @booking.created_at
	%li
		Даты размещения:
		= @booking.checkin
		= ' - '
		= @booking.checkout
	%li
		Цена: $
		= @booking.count_price



%hr
%h3 Thank you for your order.
%p Your order is being processed. Our manager will contact you shortly.
%h4 Details
%ul
	%li
		Customer:
		= @booking.addressing
		= "(#{@booking.email})"
	- unless @booking.message.empty?
		%li
			Message:
			= @booking.message
	%li
		Estate:
		%a{href: "http://#{@booking.agency.host}/estates/#{@booking.estate.id}"}= @booking.estate.title
	%li
		Date of order:
		= @booking.created_at
	%li
		Date of placement:
		= @booking.checkin
		= ' - '
		= @booking.checkout
	%li
		Price: $
		= @booking.count_price