= content_for :title do
	= @agency.title

= content_for :billboard do
	= render 'agencies/partials/billboard', :agency => @agency
	
= content_for :navigation do
	= render 'agencies/partials/navigation', :agency => @agency

= render 'booklets/partials/content', :booklet => @agency.booklets.first