= content_for :title do
	= @agency.title + ' - ' + t('models.estate.estates')

= content_for :billboard do
	= render 'estates/partials/search_form'

= render 'estates/partials/list', :estates => @estates

#map-canvas.map.span4
	:javascript
		$(function(){
			$(window).scroll(function() {
				var canvas = $("#map-canvas");
				
				if ($(window).scrollTop() > 285) {
					canvas.css({
						position: 'fixed',
						width: $("#map-canvas").width(),
						left: $('#estates').offset().left + $('#estates').width() - 3
					});
				}else{
					canvas.css({
						position: 'relative',
						left: '0',
						width: '31.915%'
					});
				}
			});
		});
		
		var map;
		var markers = [];
		map = new google.maps.Map($("#map-canvas")[0], {
			center: new google.maps.LatLng(#{@agency.map.center[:lat]}, #{@agency.map.center[:lng]}),
			zoom: #{@agency.map.zoom},
			mapTypeId: google.maps.MapTypeId.ROADMAP,
			
			streetViewControl: false,
			overviewMapControl: false,
			rotateControl: false,
			panControl: false,
			mapTypeControl: false,
			
			zoomControl: true,
			zoomControlOptions: {
				position: google.maps.ControlPosition.TOP_RIGHT,
				style: google.maps.ZoomControlStyle.LARGE
			}
		});

