= content_for :title do
	= @estate.title
	
= content_for :description do
	= @estate.teaser

= content_for :billboard do
	= render 'estates/partials/billboard', :estate => @estate
	
= content_for :navigation do
	= render 'estates/partials/navigation', :estate => @estate

- unless @estate.booklets.empty?
	= render 'booklets/partials/content', :booklet => @estate.booklets[0]