= nested_form_for agency, :url => agency_url, :remote => true do |f|
	%fieldset
		= f.fields_for :title_translations do |ff|
			= ff.label :en do
				EN
				= ff.text_field :en, :value => f.object.title_translations['en']
			= ff.label :ru do
				RU
				= ff.text_field :ru, :value => f.object.title_translations['ru']
	%fieldset	
		= f.fields_for :teaser_translations do |ff|
			= ff.label :en do
				EN
				= ff.text_area :en, :value => f.object.teaser_translations['en']
			= ff.label :ru do
				RU
				= ff.text_area :ru, :value => f.object.teaser_translations['ru']
	
	%fieldset
		%legend Contacts:
		= f.fields_for :contacts do |ff|
			= ff.select :kind, options_for_select(Contact.kinds, :selected => ff.object.kind)
			= ff.text_field :entry
			= ff.link_to_remove raw('&nbsp-&nbsp'), :class => :button
		= f.link_to_add raw('&nbsp+&nbsp'), :contacts, :class => :button

	= f.submit 'Save', :disable_with => 'Processing'
	= link_to 'Cancel', agency_url, :remote => true, :class => :button, :disable_with => 'Processing'