= nested_form_for agency, :url => agency_url, :remote => true, :html => {:class => 'form-horizontal'} do |f|
	%fieldset
		%legend= t 'views.agency.information'
		= f.fields_for :title_translations do |ff|
			.control-group
				= ff.label :en, (t('models.title') + ' (En)'), :class => 'control-label'
				.controls
					= ff.text_field :en, :class => 'input-xlarge', :value => f.object.title_translations['en']
			.control-group
				= ff.label :ru, (t('models.title') + ' (Ru)'), :class => 'control-label'
				.controls
					= ff.text_field :ru, :class => 'input-xlarge', :value => f.object.title_translations['ru']
		= f.fields_for :teaser_translations do |ff|
			.control-group
				= ff.label :en, (t('models.teaser') + ' (En)'), :class => 'control-label'
				.controls
					= ff.text_area :en, :class => 'input-xlarge', :rows => 5, :value => f.object.teaser_translations['en']
			.control-group
				= ff.label :ru, (t('models.teaser') + ' (Ru)'), :class => 'control-label'
				.controls
					= ff.text_area :ru, :class => 'input-xlarge', :rows => 5, :value => f.object.teaser_translations['ru']

			.control-group
				%label.control-label= t 'models.agency.contact.contacts'
				.controls
					= f.fields_for :contacts do |ff|
						= ff.select :kind, options_for_select(Contact.kinds, :selected => ff.object.kind), {}, :class => 'input-small'
						= raw('&nbsp')
						= ff.text_field :entry, :class => 'input-xlarge'
						= raw('&nbsp')
						= ff.link_to_remove :class => 'btn-danger btn btn-small' do
							%i.icon-minus.icon-white
						%br
						%br
					= f.link_to_add :contacts, :class => 'btn-success btn btn-small' do
						%i.icon-plus.icon-white

	.form-actions
		= f.button raw('<i class="icon-ok icon-white" /> ' + t('views.interface.save')), :disable_with => t('views.interface.saving'), :type => :submit, :class => 'btn btn-primary'
		= link_to agency_url, :class => 'btn', :disable_with => 'Canceling...', :remote => true do
			%i.icon-remove
			= t 'views.interface.cancel'