= content_for :title do
	= current_parent_resource.title


- if current_parent_resource.instance_of? Agency
	= content_for :billboard do
		= render "agency/partials/billboard", :agency => current_parent_resource
	= content_for :navigation do
		= render "agency/partials/navigation", :agency => current_parent_resource
	
- if current_parent_resource.instance_of? Estate
	= content_for :billboard do
		= render "estates/partials/billboard", :estate => current_parent_resource
	= content_for :navigation do
		= render "estates/partials/navigation", :estate => current_parent_resource


= render 'map/partials/form', :map => @map