= content_for :title do
	= current_parent_resource.title

= content_for :billboard do
	= render "#{current_parent_resource.class.name.pluralize.downcase}/partials/billboard", :"#{current_parent_resource.class.name.downcase}" => current_parent_resource

= content_for :navigation do
	= render "#{current_parent_resource.class.name.pluralize.downcase}/partials/navigation", :"#{current_parent_resource.class.name.downcase}" => current_parent_resource

= render 'map/partials/content', :map => @map