- selected = false if !defined? selected

%li
	.thumbnail
		%img.nano{:src => image.image.nano.url}
		.caption
			= hidden_field_tag "images[#{image.id}]", image.id
			%p
				= '#' + image.uid + '#'
			.btn-group
				= label_tag "avatar_#{image.id}", :class => 'btn' do
					%i.icon-camera
					= radio_button_tag 'avatar', image.id, selected
				= link_to_function raw('<i class="icon-minus icon-white"></i>'), "$(this).parent().parent().parent().parent('li').remove()", :class => "btn btn-danger"