.navbar
	.navbar-inner
		.row-fluid
			%a.brand{:href => '#'}= current_agency.title
			%ul.nav
				%li.divider-vertical
				%li{:class => active_if(['agency', 'agency_booklet', 'agency_bookings'])}
					%a{:href => agency_url}= t 'models.agency.base'
				%li{:class => active_if(['agency_estates', 'estate_booklet', 'estate_pricelist', 'estate_bookings'])}
					%a{:href => estates_url}= t 'models.estate.estates'
				%li.divider-vertical
				%li{:class => ->{I18n.locale == :ru ? 'active' : ''}.call}
					%a.iconed{:href => url_for(:locale => :ru), :style => 'background-image: url(/assets/icons/flags/ru.gif)'}Русский
				%li{:class => ->{I18n.locale == :en ? 'active' : ''}.call}
					%a.iconed{:href => url_for(:locale => :en), :style => 'background-image: url(/assets/icons/flags/en.gif)'}English
				
			%ul.nav.pull-right
				- if signed_in?
					%li.active
						%a= t('views.interface.wellcome') + ', ' + current_person.name
					%li
						= link_to t('views.interface.logout'), session_url(:redirect_id => this_page_redirect.id), :method => :delete
				- else
					%li
						%a{:href => new_session_url(:redirect_id => this_page_redirect.id)}= t 'views.interface.login'
					%li
						%a.iconed{:href => Koala::Facebook::OAuth.new(oauth_url(this_page_redirect.id.to_s)).url_for_oauth_code(:permissions => "email"), :style => 'background-image: url(/assets/icons/facebook.png) !important;'}= t 'views.interface.facebook'
