%title
	= yield :title

= csrf_meta_tag
%meta{'http-equiv' => 'Content-Type', :content => 'text/html;charset=utf-8'}
%meta{:name => 'description', :content => 'RealtoBe'}
%meta{:name => 'keywords', :content => 'realto.be'}
%link{:rel => 'shortcut icon', :href => '/favicon.ico', :type => 'image/x-icon'}

= stylesheet_link_tag :application

%meta{:controller => controller_name, :action => action_name}
- if (controller_name == "agency_estates") && (action_name == "index")
	%script{:type => "text/javascript", :src => "http://maps.googleapis.com/maps/api/js?key=AIzaSyDNIzwBp4cCrFqwk-mZ6OIRSMuvP_Uc22U&sensor=true"}
= javascript_include_tag :application
- if I18n.locale == :ru
	= javascript_include_tag :'jquery.ui.datepicker-ru'
